{% extends "layout.html" %}
{% block body %}

<form action="{{ url_for('update_fugitive') }}" method=post class="form-horizontal" operation="">
    <input type="text" class="form-control" value="" placeholder="请在此输入需要修改的逃犯ID" id="update-ID" name="update-ID" /> 
    <input type="text" class="form-control" value="" placeholder="请在此输入修改后的逃犯描述信息" id="update-Desc" name="update-Desc" /> 
    <br>
    <button type="submit" class="btn btn-primary btn-lg btn-block" href="#">提交</button>
</form>

{% for record in feedback %}
    <tr>
        <td>{{ record[0] }}</td>  
    </tr>
{% endfor %}

{% endblock %}
